version: '3.4'

services:
  bds:
    container_name: bds
    build: .
    restart: always
    environment:
      EULA: "TRUE"
    ports:
      - "19132:19132/udp"
      - "19133:19133/udp"
    volumes:
      - ./data:/data
    stdin_open: true
    tty: true
