version: '3.4'

services:
  bds:
    image: itzg/minecraft-bedrock-server
    environment:
      EULA: "TRUE"
    ports:
      - "19135:19132/udp"
    volumes:
      - ./data:/data
    stdin_open: true
    tty: true
